name: Run Ad-Hoc Command
description: Run Ad-hoc commands on selected hosts
shortDescription: Run Ad-hoc commands on hosts
version: 0.0.1
updateDate: July 24, 2017
defaultPlaybook: main.yml
author: Runner Team
organization: Runner
organizationUrl: https://runner.ctl.io
schedulable: true

fields:
  - name: servers
    displayName: Select Servers to run on
    type: servers
    multiple: true
    inventory: true
    required: true

  - name: get_facts
    displayName: Gather Server Facts?
    type: toggle
    default: true

  - name: command
    displayName: Command to execute
    type: text
    required: true
